<head>
	
	<link rel="stylesheet" href="/static/style.css">
	
	<link rel="shortcut icon" type="image/png" href="/static/favicon.png?v=2">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
	<title>Zachary R. McKee</title>
</head>
<div id="wrapper">
	<section id="main">
		{% block error %}
		{% endblock %}
		<h4>Please click <a href="#" onclick="history.go(-1)">here</a> to go to the previous page or <a href="{% url 'home:home' %}">here</a> to go back to the home page.</a><h4>
		<h5>If there is a problem with the site, please <a href="mailto:zmckee@hawk.iit.edu">contact me.</a></h5>
	</section>
	<footer>Zachary R. Mckee &copy; 2017-2018</footer>
</div>
