body {
	background-color: #E3E9FF;
}
h1 {
	color: #4256A6;
	font-size: 50px;
	float: left;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 20px;
	border-right: 2px solid black;
	display: block;
}
h2, h3 {
	color: #4256A6;
}
p {
	color: #444;
}
nav ul {
	list-style-type: none;
	margin: 0px 0px 5px 0px;
	padding: 0;
	overflow: hidden;
	background-color: #3F425A;
}
nav {
	clear: both;
}
nav li {
	float: left;
}
nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 5px 30px;
	text-decoration: none;
	border-right: 2px solid;
	border-color: gray;
}
nav li a:hover {

	background-color: #444;
}
nav li a:active {
	background-color: #555;
}
footer {
	clear: both;
	padding-top:20px;
	text-align: center;
}
section {
	background-color: white;
	padding: 10px;
	 
}
aside {
	width: 150px;
	float: left;
	padding: 0px;
	margin-right: 5px;
	background-color: #A3A8BF;
	border-right: 2px solid;
}
aside ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: 20px;

}
#wrapper {
	display: block;
	width: 960px;
	margin: 20px auto;
	font-family: Ubuntu,helvetica,sans-serif;
}
#main {
	background-color: #CCD6FF;
	display: block;
	width: 783px;
	float: left;
}
#about {
	float: left;
	margin-top: 55px;
}
#about p {
	margin: 5px;
	margin-left: 20px;
}
#spacer {
	display: block;
	height: 15px;
}
#email {
	margin: 5px 30px;
	color: white;
}
