{% extends "personalSite/base.html" %}
{% block innerNav %}
	<li><a href="{% url 'home:home' %}">Home</a></li>
        <li><a id="currentPage" href="{% url 'teaching:teaching' %}">Teaching</a></li>
        <li><a href="{% url 'project:list' %}">Projects</a></li>
{% endblock %}

{% block content %}

	<h2>Spring 2018 - CS 350</h2>
	<h3>Office Hours</h3>
	<p>TBD</p> <!--<a href="https://docs.google.com/forms/d/e/1FAIpQLScHXDdPr18Sj06pKqe5ybrxK_55lzZRWt7nFs0CehUMKrhPCw/viewform">by appointment.</a></p></-->
	<h3>Availability</h3>
	<iframe src="https://calendar.google.com/calendar/embed?mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=zmckee%40hawk.iit.edu&amp;color=%23711616&amp;ctz=America%2FChicago" style="border-width:0" width="860" height="900" frameborder="0" scrolling="no"></iframe>

{% endblock %}
